{{> header}}
<form method="post">
<span>Username: <input type="text" name="name"/><br /></span>
<span>Password: <input type="password" name="password"/><br /></span>
<span><input type="submit" value="LOGIN"/></span><br />
	
	
	
</form>
{{> footer}}